<table class="table table-advance table-hover table-striped order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("code") %>
                <th><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("phone") %>
                <th><%= t('.phone') %></th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th><%= t('.email') %></th>
            <% end %>
            <% if get_columns(params).include?("restime") %>
                <th class="sortable" sort-by='erp_reservations_reservations.restime' width='15%'>
                    <%= t('.restime') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("numperson") %>
                <th>
                    <%= t('.numperson') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("note") %>
                <th>
                    <%= t('.note') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('.status') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @reservations.each do |reservation| %>
            <tr class="odd gradeX has-child-table">
                <td>
                    <%= erp_datalist_check_row(id: reservation.id) %>
                </td>
                <% if get_columns(params).include?("code") %>
                    <td>
                        <span class="font-yellow-gold sbold"><%= reservation.code %></span>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td><%= reservation.name %></td>
                <% end %>
                <% if get_columns(params).include?("phone") %>
                    <td><%= reservation.phone %></td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                    <td><%= reservation.email %></td>
                <% end %>
                <% if get_columns(params).include?("restime") %>
                    <td><%= reservation.resdate %> (<%= reservation.restime %>)</td>
                <% end %>
                <% if get_columns(params).include?("numperson") %>
                    <td><%= reservation.numperson %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= reservation.created_at.strftime("%d/%m/%Y %I:%M%p") %></td>
                <% end %>
                <% if get_columns(params).include?("note") %>
                    <td><%= reservation.note %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td>
                        <% if reservation.status == Erp::Reservations::Reservation::STATUS_NEW %>
                        <span class="label label-warning"><%= t(".#{reservation.status}") %></span>
                        <% elsif reservation.status == Erp::Reservations::Reservation::STATUS_PENDING %>
                        <span class="label label-default"><%= t(".#{reservation.status}") %></span>
                        <% elsif reservation.status == Erp::Reservations::Reservation::STATUS_CONFIRMED %>
                        <span class="label label-primary"><%= t(".#{reservation.status}") %></span>
                        <% elsif reservation.status == Erp::Reservations::Reservation::STATUS_DONE %>
                        <span class="label label-success"><%= t(".#{reservation.status}") %></span>
                        <% elsif reservation.status == Erp::Reservations::Reservation::STATUS_CANCELED %>
                        <span class="label label-danger"><%= t(".#{reservation.status}") %></span>
                        <% end %>
                    </td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-ellipsis-h"></i> '+t('.status_pending'),
                                url: erp_reservations.set_status_pending_backend_reservations_path(id: reservation),
                                data_method: 'PUT',
                                class: 'ajax-link',
                                data_confirm: t('.update_status_confirm'),
                                hide: reservation.is_pending?
                            },
                            {
                                text: '<i class="fa fa-check"></i> '+t('.status_confirmed'),
                                url: erp_reservations.set_status_confirmed_backend_reservations_path(id: reservation),
                                data_method: 'PUT',
                                class: 'ajax-link',
                                data_confirm: t('.update_status_confirm'),
                                hide: reservation.is_confirmed?
                            },
                            {
                                text: '<i class="fa fa-check-square-o"></i> '+t('.status_done'),
                                url: erp_reservations.set_status_done_backend_reservations_path(id: reservation),
                                data_method: 'PUT',
                                class: 'ajax-link',
                                data_confirm: t('.update_status_confirm'),
                                hide: reservation.is_done?
                            },
                            {
                                text: '<i class="fa fa-ban"></i> '+t('.status_canceled'),
                                url: erp_reservations.set_status_canceled_backend_reservations_path(id: reservation),
                                data_method: 'PUT',
                                class: 'ajax-link',
                                data_confirm: t('.update_status_confirm'),
                                hide: reservation.is_canceled?
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @reservations.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@reservations) %>